.wrapper {
    display: grid;
    justify-content: center;

    padding: 2rem 0;
}

.container {
    display: grid;
    gap: 2rem;
}

.todoItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.tools {
    display: flex;
    gap: 2rem;
}